{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMMO-PLUS</title>
    <link rel="stylesheet" href="{% static 'css/styledetail.css' %}">
    <script >
        function openNav(){
            document.getElementById("mySidebar").style.width="100vw";
            document.querySelector("body").style.overflow= "hidden"
        
        }
        
        //définir la la largeur de la sidebar a 0  et faire un overflow auto
        
        function closeNav(){
            document.getElementById("mySidebar").style.width="0";
            document.querySelector("body").style.overflow= "auto"
        }
    </script>
</head>
<body>
    <section class="header-home">
        <!-- menu -->
        <header>
            <div class="logo_link">
                <a href="#" class="logo">IMMO-PLUS</a>
                <div class="menu_link">
                    <a href="{% url 'home' %}">Acceuil</a>
                    <a href="{% url 'services' %}">Service</a>
                    <a href="{% url 'favoris' %}">Favoris</a>
                    <a href="{% url 'historique' %}">Historique</a>
                    <a href="{% url 'user_profil' %}">Profil</a>
                </div>
            </div>
             
            <!-- responsive menu -->
                 <div class="sidebar" id="mySidebar">
                    <div class="closebtn"  onclick="closeNav()">
                        <img src="images/close.png">
                    </div>
                    <a href="{% url 'home' %}">Acceuil</a>
                    <a href="{% url 'services' %}">Service</a>
                    <a href="{% url 'favoris' %}">Favoris</a>
                    <a href="{% url 'historique' %}">Historique</a>
                    <a href="{% url 'user_profil' %}">Profil</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'deconnexion' %}" style="color: white;">deconnexion</a>
                    {% else %}
                    <a href="{% url 'singin' %}">Se connecter</a>
                    <a href="{% url 'singup' %}">s'inscrire</a>
                    {% endif %}
                 </div>

                 <div id="main">
                    <button class="openbtn" onclick="openNav()">
                        <img src="images/menu.png">
                        Menu
                    </button>
                 </div>
            <!-- responsive menu -->

            <div class="link_buttons">
                {% if user.is_authenticated %}
                <a href="{% url 'deconnexion' %}" class="orange_link" style="color: white;">deconnexion</a>
                {% else %}
                <a href="{% url 'singin' %}">Se connecter</a>
                <a href="{% url 'singup' %}" class="orange_link">s'inscrire</a>
                {% endif %}
            </div>
        </header>
        <!-- menu -->

    </section>
               
        <!-- home -->
        

        
        <section class="d-flex justify-content-center align-items-center vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img src="../media/{{product.image}}" width="500px" height="500px" alt="">
                        </div>                
                    </div>   
                    <div class="col-md-6">
                        <div class="titre display-3">
                          <h1>  {{product.title}} </h1>
                        </div>
                        <div class="prix">
                            <h3>Prix: {{product.price}} FCFA</h3>
                        </div>
                        <div class="statut">
                            <h2>Statut: {{product.statut}}</h2>
                        </div>
                        <div class="nombre_piece">
                            <h4>Nombre de pièce: {{product.nombre_piece}} pièces</h4>
                        </div>
                        <div class="adresse">
                            <h4>Adresse: {{product.adresse}} </h4>
                        </div>
                        <div>
                            {{product.description}}
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <a href="{% url 'rdv' product.id %}"><button class="btn btn-success">Prendre RDV</button></a>
                            {% else %}
                            <a href="#"><button class="btn btn-success" id="openPopupBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Prendre RDV</button></a>

                            {% endif %}


                        </div>
                    </div> 
                </div>        
            </div>
        </section>

        {% comment %} <div id="popupOverlay" class="popup-overlay"></div>
        <div id="popup" class="popup" style="width: 80%; height: 80%;">
            <iframe src="rdv.html"></iframe>
        </div> {% endcomment %}

        

     
     <!-- footer -->
    <footer>
        <div class="footer-content">
            <h1>IMMO-PLUS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cum. Vero, explicabo illum. Repudiandae.</p>
            <h4>Contactez-nous</h4>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2024 Faiz Dev. Desighed by <span>faiz</span></p>
        </div>
        
    </footer>
    <script src="script.js"></script>


    <!-- Pop up -->
    

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="staticBackdropLabel">Veuillez vous connecter d'abord</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
              <h2><p>Continuer</p></h2>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <a href="{% url 'singin' %}"><button type="button" class="btn btn-primary">Se connecter</button></a>
            </div>
          </div>
        </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
      <script src="script.js"></script>


      <script>
        const openPopupBtn = document.getElementById('openPopupBtn');
        const closePopupBtn = document.getElementById('closePopupBtn');
        const popup = document.getElementById('popup');
        const popupOverlay = document.getElementById('popupOverlay');

        openPopupBtn.addEventListener('click', () => {
            popup.classList.add('active');
            popupOverlay.classList.add('active');
        });

        closePopupBtn.addEventListener('click', () => {
            popup.classList.remove('active');
            popupOverlay.classList.remove('active');
        });

        popupOverlay.addEventListener('click', () => {
            popup.classList.remove('active');
            popupOverlay.classList.remove('active');
        });
    </script>

</body>
</html>