{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMMO-PLUS</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <style>
        @media screen and (max-width: 768px) {
            .menu_link {
                display: none;
            }
        
            .link_buttons {
                display: none;
            }
        
            .openbtn {
                display: block;
            }
        
            .product-card img {
                width: 100%;
                height: auto;
            }
        }
        
        @media screen and (min-width: 769px) {
            .openbtn {
                display: none;
            }
        
            .sidebar {
                display: none;
            }
        }
    </style>
    <script >
        function openNav(){
            document.getElementById("mySidebar").style.width="100vw";
            document.querySelector("body").style.overflow= "hidden"
        
        }
        
        //définir la la largeur de la sidebar a 0  et faire un overflow auto
        
        function closeNav(){
            document.getElementById("mySidebar").style.width="0";
            document.querySelector("body").style.overflow= "auto"
        }
    </script>
</head>
<body>
    <section class="header-home">
        <!-- menu -->
        <header>
            <div class="logo_link">
                <a href="#" class="logo">IMMO-PLUS</a>
                <div class="menu_link">
                    <a href="{% url 'home' %}">Acceuil</a>
                    <a href="#">Service</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'favoris' %}">Favoris</a>
                    <a href="{% url 'historique' %}">Historique</a>
                    <a href="{% url 'user_profil' %}">Profil</a>
                    {% endif %}

                </div>
            </div>
             
            <!-- responsive menu -->
                 <div class="sidebar" id="mySidebar">
                    <div class="closebtn"  onclick="closeNav()">
                        <img src="images/close.png">
                    </div>
                    <a href="{% url 'home' %}">Acceuil</a>
                    <a href="#">Service</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'favoris' %}">Favoris</a>
                    <a href="{% url 'historique' %}">Historique</a>
                    <a href="{% url 'user_profil' %}">Profil</a>
                    <a href="{% url 'deconnexion' %}" class="orange_link" style="color: white;">deconnexion</a>
                    {% else %}
                    <a href="{% url 'singin' %}">Se connecter</a>
                    <a href="{% url 'singup' %}">s'inscrire</a>
                    {% endif %}
                 </div>

                 <div id="main">
                    <button class="openbtn" onclick="openNav()">
                        <img src="images/menu.png">
                        Menu
                    </button>
                 </div>
            <!-- responsive menu -->

            <div class="link_buttons">
                {% if user.is_authenticated %}
                <a href="{% url 'deconnexion' %}" class="orange_link" style="color: white;">deconnexion</a>
                {% else %}
                <a href="{% url 'singin' %}">Se connecter</a>
                <a href="{% url 'singup' %}" class="orange_link">s'inscrire</a>
                {% endif %}
            </div>
        </header>
        <!-- menu -->


        <!-- home -->
          
        <div class="col-md-12 mx-auto"> <!-- Ajoutez la classe mx-auto pour centrer le formulaire -->
            <form class="card card-sm d-flex align-items-center"> <!-- Ajoutez les classes pour disposer les éléments en ligne -->
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Entrez le type de bien que vous cherchez" name="item-name" class="form-control form-control-borderless  ">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mr-0  ">Recherche</button> <!-- Ajoutez la classe mr-0 pour supprimer la marge à droite -->
                    </div>
                </div>
            </form>
        </div>
        
        
        <div class="text-center mt-4 mx-3 my-4 p-4  bg-white"> 
            
                <div class="row mt-4">
                    {% for product in product_object %}
                    <div class="col-md-3 mb-4">
                        <div class="card shadow product-card">
                            <div class="text-center shadow">
                                <img style="object-fit:cover; height:226px; width:336px" src="../media/{{ product.image }}" alt="" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <h3 class="card-title">{{ product.title }}</h3>
                                <div style="color: blue" class="card-text mb-2">PRIX: {{ product.price }} FCFA</div>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'detail' product.id %}" class="btn btn-warning mr-2">Voir</a>
                                    <form action="{% url 'add_to_favorites' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Ajouter aux favoris</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
           
           
            
        </div>   
            
        
                
        <!-- home -->
        
    </section >
   
   



     
     <!-- footer -->
    <footer>
        <div class="footer-content">
            <h1>IMMO-PLUS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cum. Vero, explicabo illum. Repudiandae.</p>
            <h4>Contactez-nous</h4>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2024 Faiz Dev. Desighed by <span>faiz</span></p>
        </div>
        
    </footer>
    <script src="script.js"></script>
</body>

</html>