@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    transition: 0.5s;
}
a{
    text-decoration: 0;
}
.header-home {
    background-color: #FAF8F4;
    position: relative;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 35px 0;
    text-transform: capitalize;
}

/* menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo {
    text-transform: capitalize;
    color: #0004ff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

header .logo_link {
    display: flex;
    align-items: center;
}
.menu_link {
    margin-left: 60px;
}
.menu_link a {
    margin: 0 10px;
    font-size: 15px;
    color: #999;
}
.menu_link a:nth-child(3) {
    color:#0004ff; /* Couleur de texte pour le troisième lien */
}

.link_buttons a{
    margin-left: 15px;
}
.link_buttons a:first-child {
    color: #0004ff;
}
.orange_link {
    color: #fff;
    padding: 8px 30px;
    background-color: #0004ff;
    border-radius: 4px;
    text-transform: capitalize;
}

/*body*/

.product-card {
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.product-card:hover {
    transform: scale(1.05); /* Augmente la taille de 5% */
}


.form-control-borderless {
    width: 600px; /* Réglez la largeur comme nécessaire */
}
.btn-primary {
    background-color: #0004ff; /* Changez la couleur du bouton en bleu */
    border-color: #0004ff; /* Optionnel: changer la couleur de la bordure pour correspondre */
    
}
.btn-warning{
    background-color: rgba(106, 0, 255, 0.891);
    border-color: rgb(106, 0, 255);
    color: #FFFFFF; 

}
.btn-warning:hover{
    background-color: rgb(46, 0, 110);
    border-color: rgb(46, 0, 110);
    color: #FFFFFF; 
}
.btn-warning:active {
    background-color: #0033FF; /* Couleur de fond bleue plus foncée lorsqu'il est enfoncé */
    border-color: #0033FF; /* Couleur de la bordure bleue plus foncée lorsqu'il est enfoncé */
    color: #FFFFFF; 
}
.btn-success{
    background-color: #0004ff;
    border-color: #0004ff;
}
.btn-success:hover{
    background-color: #010396;
    border-color: #0004ff;
}
.btn-success:active {
    background-color: #0033FF; /* Couleur de fond bleue plus foncée lorsqu'il est enfoncé */
    border-color: #0033FF; /* Couleur de la bordure bleue plus foncée lorsqu'il est enfoncé */
    color: #FFFFFF; 

}



/*footer*/
footer {
    margin-top: 60px;
    background-color: #FAF8F4;
    height: auto;
    padding-top: 40px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1 {
    font-size: 50px;
    margin: 10px 0;
}
.footer-content p {
    max-width: 500px;
    margin: 20px 0;
    letter-spacing: 1px;
    font-size: 15px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.socials li {
    margin: 0 20px;
}
.socials a {
    text-decoration: 0;
    color: #333;
    font-size: 20px;
    transition: 0.5s;
}
.socials a:hover {
    color: #000;
}
.footer-bottom {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.footer-bottom  span {
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}
.sidebar , #main {
    display: none;
}
/*responsive*/

@media (max-width:935px) {
    header{
        padding: 20px;
        margin: 0;
        height: auto;
    }
    .link_buttons {
        display: none;
    }
    .menu_link {
        display: none;
    }
    /*responsive menu*/
    .sidebar , #main {
        display: block;
    }
    .sidebar{
        height: 100%;
        width:0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;

    }
    .sidebar img , #main img {
        width: 20px;

    }
    .sidebar a{
        padding: 15px;
        font-size: 15px;
        color: #fff;
        transform: 0.3s;
    }
    .sidebar a:hover {
        background-color: #0004ff;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .openbtn img {
        width: 20px;
        margin-right: 10px;
    }
    .openbtn {
        background-color: #0004ff;
        border: 0;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: 0.5s;
    }
    .openbtn:hover {
        background-color: #111;
    }


}

@media (max-width:588px) {
    h1{
        font-size: 30px;
    }
    .home {
        margin: 25px;
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 25px;
    }
    .home p , .home h1 {
        margin: 0;
    }
    .home .left , .home .right {
        width: 100%;
        height: fit-content;
    }
    .home .right {
        height: auto;
    }
    .statistiques{
        bottom:-100px;
    }
    .statistiques h2 {
        font-size: 15px;
    }
    .statistiques p {
        font-size: 12px;
    }
    .about {
        flex-direction: column;
    }
    .about .image , .about .content {
        width: 100%;
    }

    /*Why us*/
    .list_box , .deco-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box , .deco {
        width: 100%;
    }
}